// Palette : dcdcdd c5c3c6 46494c 4c5c68 1985a1 
// https://coolors.co/dcdcdd-c5c3c6-46494c-4c5c68-1985a1

textarea, input, button { outline: none; }

body {
    padding: 0;
    margin: 0;
    background-color: #46494c;

    font-family: "Abel", sans-serif;
}

header {
    height: 38px;
    background-color: #4c5c68;

    -webkit-user-select: none;
    -webkit-app-region: drag;

    text-align: center;
}

#wintitle {
    color: #7eadb9;
    font-size: 16px;
    padding-top: 8px;
    display: block;
    font-weight: bold;
}

#big-envelop {
    display: block;
    margin: 100px auto;
width: 260px;
}

#initloginform {
margin: 0 auto;
display: block;
width: 300px;

input {
    width: 100%;
    margin: 0px 0px 10px;
    font-size: 20px;
    font-family: "Abel", sans-serif;
    padding: 7px 10px;
    border: none;
    background: transparent;
    border-bottom: 2px solid #5f8aac;
    color: #FFF;
        box-sizing: border-box;

        transition : all 0.2s;
        transform : translate3d(0px, 20px, 0px);
        opacity : 0;

        &.visible {
            transform : translate3d(0,0,0);
            opacity : 1;
        }

        &:focus {
            border-color: #1985a1;
        }

        &::placeholder {
            font-size: 14px;
            color: #AAA;

            transition: all 0.2s;
        }

        &:focus::placeholder {
            transform: translate3d(-10px, 0, 0);
            opacity: 0;
        }
    }
}

.spinner-wrapper {
    text-align: center;
    color: #5f8aac;
    font-size: 72px;

    
    transition : all 0.2s;
    transform : scale(0.6);
    opacity : 0;

    &.visible {
        transform: scale(1);
        opacity : 1;
    }
}
